extends layout

block content
  h1 Welcome to the Secret Clubhouse!
  if (currentUser)
    h2 Welcome back #{currentUser.first_name} #{currentUser.last_name}!
    a(href="/sign-out")
      button Sign Out
    a(href="/new-message")
      button Create a New Message
    if (!currentUser.member)
      p It appears you are not yet a member. Without member status, you will not be able to see the author of messages.
      a(href="/membership")
        button Become a Member
    if (!currentUser.admin)
      p It appears you are not an administrator. Without administrator status, you will not be able to delete messages.
      a(href="/administrator")
        button Become an Administrator
  else
    h2 You must be signed in to post messages.
    a(href="/sign-in")
      button Sign In
  hr
  if (messages)
    ul.message-list(style={"list-style": "none"})
      for message in messages
        li.message
          div.message-information
            h4.message-title= message.title
            h5.message-date-posted Date Posted: #{message.date_posted_formatted}
            if (currentUser)
              if (currentUser.member)
                h5.message-author Posted by: #{`${message.author.first_name} ${message.author.last_name}`}
              else
                h5.message-author-failed Become a member to see the author of this message
            else
              h5.message-author-failed Log in to see the author of this message
          p.message-text= message.text

